.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-height: 50vmin;
}

.slider-container button {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 70px;
  cursor: pointer;
}

.slide img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  object-position: top center;
}

.slide ~ button {
}